@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --color-white: #ffffff;
  --color-bg : #ffffff;
  --color-blue : #185E65;
  --color-darkblue : ##223750;
  --color-black : #000;
  --color-beige : #E7C280;
  --color-orange: #CE5D2F;
  --color-red:#9E1617;
  --color-redligth:#ff1e00;
  --color-yellow:#f39c12;
  --font : 'Montserrat',sans-serif;
}

body {
  margin : 0px;
  padding : 0px;
  font-family: var(--font);
  background-color: var(--color-bg);
}