.form-container {
  width: 100%;
  width: 500px;
  margin: 100px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.425);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.form-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #f39c12;
}

.message-input {
  width: 100%;
  height: 100px; /* Altura do input */
  padding: 10px; /* Espaço interno */
  border-radius: 5px; /* Bordas arredondadas */
  border: 1px solid #ccc; /* Borda */
  font-size: 16px; /* Tamanho da fonte */
  /* Para simular o texto no topo, você pode ajustar o padding superior */
  padding-top: 15px; /* Aumenta o espaço acima do texto */
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #f39c12;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e67e22;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  .form-group label {
    font-size: 12px;
  }

  .form-group input,
  .message-input {
    font-size: 14px;
  }

  .submit-button {
    font-size: 14px;
  }
}
